<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="/ellment-ui/element-ui.css">

    <script src="/jquery-easyui-1.7.0/jquery.min.js"></script>
    <script src="/layui/layui.js"></script>
    <script src="/js/vue.min.js"></script>
    <script src="/ellment-ui/element-ui.js"></script>
</head>
<body>
<div id="helloDiv">
    {{str}}

    <button id="openBtn">bhhhhh</button>
</div>

<script type="text/html" id="hello">
  <div id="divDiv">
      <span  v-for="i in 3">
           {{str}}
      </span>
      <form class="layui-form"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
          <div class="layui-form-item">
              <label class="layui-form-label">输入框</label>
              <div class="layui-input-block">
                  <input v-for="site in siteList"  v-if="site.checked" checked type="checkbox" name="like1[write]" lay-skin="primary" :title="site.name">
                  <input v-else type="checkbox" name="like1[write]" lay-skin="primary" :title="site.name">
          </div>

  </div>
      </form>
  </div>
</script>
</body>

<script>
    new Vue({
        el: '#helloDiv',
        data: {
            str: 'sfsdfdsf'
        }
    });



    layui.use(['layer', 'form'], function(){
        var layer = layui.layer;
        var form = layui.form;

        $("#openBtn").click(function () {
            layer.open({
                type: 1 //此处以iframe举例
                ,title: '当你选择该窗体时，即会在最顶端'
                ,area: ['390px', '260px']
                ,shade: 0.3
                ,maxmin: true
                ,offset: [ //为了演示，随机坐标
                    Math.random()*($(window).height()-300)
                    ,Math.random()*($(window).width()-390)
                ]
                ,content: $("#hello").html()
                ,btn: ['继续弹出', '全部关闭'] //只是为了演示
                ,yes: function(){
                    //$(that).click();
                }
                ,btn2: function(){
                    layer.closeAll();
                }

                ,zIndex: layer.zIndex //重点1
                ,success: function(layero){
                    layer.setTop(layero); //重点2
                   var vv = new Vue({
                        el: '#divDiv',
                        data: {
                            str: 'sfsdfdsf',
                            siteList:[{id: 1, name: 'US', checked: true}, {id:2, name: 'UK', checked: false}]
                        }
                    });
                    vv.$nextTick(function () {
                        form.render('checkbox')
                    });
                }
            });
        });
    });
</script>

</html>
